{+styles
print:
   <style>
     <!--
     body {
            height: 100%; 
            max-height: 100%;
            overflow: hidden;
            padding: 0;
            top: 0;
            left: 0;
            right: 0; 
            border: 0;
            background-color: #101010;}^
     #header {
            position: absolute;
            top:0;
            left:0;
            right:0;
            display:block;
            height: 87px;
            font-size: 12pt;
            color: white;
            font-family: Verdana, Arial, Sanserif;
.
write " background-color: " header_colour "; }^"
print:
     #footer {
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            display:block;
            font-family: Verdana, Arial, Sanserif; 
			height: 160px; 
.
write "background-color: " header_colour "; "
print:
            text-align: center; }^
      #main {
            position:absolute;
            left:0px;
            top:87px;
            right:0px;
            overflow:auto;
			bottom: 160px;
.
write " background-color: " maintext_colour "; }^"
print:
     p.credits { 		
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 8pt}^
     a.credits { 		
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 8pt}^
     p { 		
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 12pt}^
     a { 		
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 12pt}^
     h1 { 		
            font-family: Verdana, Arial, Sanserif;
			text-align: center;
   			color: black; font-size: 24pt}^
     h2 {	 	
            font-family: Verdana, Arial, Sanserif;
   			color: black; font-size: 12pt;
   			font-weight: bold; }^
     input.button {
            margin-top: 7px;
            margin-left: 5px; }^
     input.dir_button {
            margin-top: 0px;
            margin-left: 0px; }^
	div.links { 		
			opacity: 0.5;
			position: absolute;
			top: 66px;
			right: 0px;
			left: 0px;
			height: 22px;
            font-family: Verdana, Arial, Sanserif;
			padding-right: 10px;
			text-align: right;
.
write " background-color: " linkbar_colour "; }^"
print:
     div.credits { 		
            font-family: Verdana, Arial, Sanserif;
			font-size: 6pt;
			padding-right: 10px;
			text-align: right;
			color: black; }
print:
     div.maintext {
     		font-family: Verdana, Arial, Sanserif;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 50px;
			padding-right: 50px;
			overflow: auto;
.
write " background-color: " maintext_colour "; }^"
     -->
   </style>
.
}
