BODY	{	
			background-color: white;
		}
 
A		{	
			font-size: 12pt;
			color: black
		}

A.visited	{	
			font-size: 12pt;
			color: black
		}

A.section	{	
			font-size: 18pt;
		    color: black;
			font-weight: bold;
			}

A.title		{	
			font-family: Helvetica, Arial, Sans;
		 	font-size: 24pt;
			text-align: right;
			margin-top: 1cm;
			margin-bottom: 1cm
			}

IMG		{ 	
			margin: 0.5cm
			margin-right: 2cm
		}

TABLE.infowarn	{ 	
			margin-top: 12pt;
			margin-bottom: 12pt;
			padding: 10;
			border-style: none;
				}

DIV.spacer	{ 	
			margin-top: 12pt;
			margin-bottom: 12pt;
			}

TABLE	{ 	
			margin-top: 12pt;
			margin-bottom: 12pt;
			padding: 5px;
			border-style: solid;
			border-width: 1px;
		}

TD		{	
			font-family: Georgia;
		 	font-size: 12pt;
			vertical-align: top;
		}

TH		{	
			font-family: Helvetica, Garamond, Arial, Sans;
		 	font-size: 12pt;
			font-weight: bold;
			color: white;
			padding: 5px;
			background-color: gray
		}

P		{	
			font-family: Georgia;
		 	font-size: 12pt
		}

P.centred	{	
			font-family: Georgia;
		 	font-size: 12pt;
			text-align: center
		}

CODE	{	
			font-family: Courier new, Monospace;
		 	font-size: 12pt;
		}

PRE		{	
			font-family: Courier new, Monospace;
		 	font-size: 12pt;
			margin-left: 12pt;
			margin-top: 20pt;
			margin-bottom: 20pt;
		}

PRE.CODE	{	
			font-family: Courier new, Monospace;
		 	font-size: 12pt;
			}

OL		{	
			font-family: Helvetica, Arial, Sans;
		 	font-size: 12pt
		}

LI		{	
			font-family: Helvetica, Arial, Sans;
		 	font-size: 12pt
		}

H1		{	
			page-break-before: always;
			font-family: Helvetica, Arial, Sans;
		 	font-size: 24pt;
			text-align: right;
			margin-top: 1cm;
			margin-bottom: 1cm
		}

H2		{	
			font-family: Helvetica, Arial, Sans;
		 	font-size: 20pt;
			text-align: left;
			margin-top: 2cm;
		}

H3		{	
			font-family: Helvetica, Arial, Sans;
		 	font-size: 18pt;
			text-align: left;
			margin-top: 2cm;
			margin-bottom: 0.5cm
		}
